* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman';
    color: black;
}

h4{
    font-size:20px;
}

p {
    font-size: 18px;
    text-indent: 30px;
    margin-left: 70px;
    margin-right: 70px;
}

body {
    height:1000px;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    background: linear-gradient(-45deg,#E86A7E,#CC6AE8,#956AE8,#6A7EE8,#6ABDE8);
    background-size: 400% 400%;
    position: relative;
    animation: changebg 20s ease-in-out infinite;
}

section{
    position: relative;
    width:100%;
    height:40vh;
    align-items: center;
    display: contents;
}

.MyName {
    text-align: center;
    position: center;
}


.Name {
    text-align: center;
    font-size: 28px;
    position: relative;
    text-decoration: none;
}

    .Name::after {
        content: '';
        width: 15%;
        height: 1px;
        background-color: black;
        position: absolute;
        top: 29px;
        left: 0%;
        border-radius: 20px;
        transition: all 200ms ease;
    }

.Name:hover::after{
    left: 85%;
}

.Introduction{
    text-align: left;
    width:90%;
    position: relative;
    display: block;
}

.Skills {
    text-align: left;
    width: 10%;
    position: absolute;
    top: 5%;
    left: 90%;
    display: block;
}

.Project1{

}

@keyframes changebg {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

@keyframes title {

}