.Pictures {
    max-width: 70%;
    display: grid;
    border: dashed;
}

.PicChild {
    position:relative;
    max-width:100%;
    max-height:100%;
}

.PicChild:first-of-type{

    grid-column: 2 / span 2 ;
    grid-row: 1 / span 2;
}

.PicChild:last-of-type {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;

}